<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Door</ion-title>
</ion-toolbar>

<ion-content padding fullscreen>
  <ion-item>
    Manual
    <ion-toggle [(ngModel)]="agreements" [ngChange]="updateAgree()" [checked]="agreements"></ion-toggle>
    Auto
    <ion-button slot="end" [disabled]="!agreements" (click)="setDateTime()">Set Date/time</ion-button>
  </ion-item>

  <p text-center>
    <ion-button size="small" [disabled]="!checkedDate[0]||!agreements">Su</ion-button>
    <ion-button size="small" [disabled]="!checkedDate[1]||!agreements">Mo</ion-button>
    <ion-button size="small" [disabled]="!checkedDate[2]||!agreements">Tu</ion-button>
    <ion-button size="small" [disabled]="!checkedDate[3]||!agreements">We</ion-button>
    <ion-button size="small" [disabled]="!checkedDate[4]||!agreements">Th</ion-button>
    <ion-button size="small" [disabled]="!checkedDate[5]||!agreements">Fr</ion-button>
    <ion-button size="small" [disabled]="!checkedDate[6]||!agreements">Sa</ion-button>
  </p>
  <h2 text-center [ngStyle]="{ 'color': (!agreements) ? '#bbb' : 'black'}">Armed: {{timeOnValue}} - {{timeOffValue}}</h2>

  <ion-item>
    <img *ngIf="!unlocked" class="center-img" (click)="light2value=true" src="../../assets/icon/home.png" />
    <img *ngIf="unlocked" class="center-img" (click)="light2value=false" src="../../assets/icon/away.png" />
  </ion-item>

  <p text-center>
    <unlocker (unlocked)="unlockedHandler($event)"></unlocker>
  </p>

</ion-content>